.main {
  margin: 200px 200px;
}

.search-input {
  width: 90%;
}

.card {
  display: block;
  box-shadow 0px 5px 10px 0px rgba(0, 0, 0, 0.2),
    0px 4px 4px 0px rgba(0, 0, 0, 0.15), 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  width: 66%;
  float: left;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 10px;
  text-align: left;
}

