.nav-fixed {
  position: fixed;
}

.main-outer {
margin: 0px 0px;
}

.main-header {
position: fixed;
}

.main-inner {
margin: 40px 80px;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1px;
}

.search-input {
  width: 100%;
  font-size: 24pt;
}

.note-input {
  width: 100%;
  font-size: 24pt;
}

.tag-input {
  width: 100%;
  font-size: 24pt;
}

.card {
  box-shadow 0px 5px 10px 0px rgba(0, 0, 0, 0.2),
    0px 4px 4px 0px rgba(0, 0, 0, 0.15), 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  float: left;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 10px;
  text-align: left;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 4px;
  animation: fade 2s linear;
}

.card-image {
  position: relative;
  bottom: 0;
}

.sort-button {
  width: 300px;
  float: center;
  background-color:white;
  font-size: 16pt;
  border-color: #cccccc;
  border-radius: 5px;
  border-width: 1px;
}

.main-top {
}

.topic-tags {
}


.topic-tag {
  border-radius: 5px;
  border-width: 1px;
  float: left;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 5px;
  padding: 10px;
  text-align: left;
  background-color: white;
  border-style: solid;
  border-color: #cccccc;
  width: 100px;
  font-size: 10pt;
}

.topic-tag-selected {
  border-radius: 5px;
  border-width: 1px;
  float: left;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 5px;
  padding: 10px;
  text-align: left;
  background-color: green;
  border-style: solid;
  border-color: #cccccc;
  width: 100px;
  font-size: 10pt;
}

.twocol {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 4px;
}

.picker {
  width=100%;
  font-size= 24pt;
}

.btn-group button {
  float: left; /* Float the buttons side by side */
}

.big-title {
  font-size: 48pt;
}
